DirectoryIndex /projects/osqli-demo/rerouter.php

RewriteEngine On
RewriteBase /SQLI/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /projects/osqli-demo/rerouter.php?uri=$1 [QSA]

<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

