DirectoryIndex /osqli-demo/index.php

RewriteEngine On
RewriteBase /SQLI/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /osqli-demo/index.php?uri=$1 [QSA]

<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

